/* src/app/app.component.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header .dropdown-menu {
  display: flex;
  border: 2px solid rgb(255, 255, 255); /* Added red border to the dropdown menu */
  border-radius: 5px; /* Added border-radius for a rounded border */
}

/* Dropdown styles */
.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: #242424;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px; /* Added border-radius for a rounded button */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px; /* Added border-radius for a rounded dropdown */
  border: 2px solid #ffffff; /* Added red border to the dropdown */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  border-radius: 5px; /* Added border-radius for a rounded link */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: #242424
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #333
}
