/* src/app/app.component.css */

.header {
  text-align: center;
  background-color: #004202;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
