/* src/app/home/home.component.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  background-color: #ffffff;
}

.content {
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width to your preference */
  max-width: 400px; /* Set a maximum width for better readability */
}

h1 {
  font-size: 24px; /* Adjust the font size for better visibility */
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

.password-input {
  padding: 10px;
  width: 100%;
  max-width: 300px; /* Adjust the max-width based on your design */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #45a049;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
